* {
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 32px;
}

p {
    color: #555;
}
a {
    color:red;
}

.section {
    padding:  20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}